.cardContainer {
  box-shadow: 0.0313rem -0.125rem 0.625rem rgba(255, 255, 255, 0.25);
  transition: transform 0.5s ease
}

.cardContainer:hover {
  transform: scale(1.05);
}

.odd, .prime{
  background-color: theme('colors.odd-red');
}

.even, .notPrime{
  background-color: theme('colors.even-orange');
}

.truncatedText{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardImage{
  flex: 0 0 80%
}

.cardLegend{
  flex: 0 0 20%;
  text-overflow: ellipsis;
}