.customSelect select {
  border-radius: 0.25rem;
  background-color:  theme('colors.select-brown');
  font-weight: bold;
  color: white;
  appearance: none;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}

.customSelect {
  position: relative;
  display: inline-block;
}

.customSelect::after {
  content: '▼';
  position: absolute;
  right: 0.3125rem;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.75rem;
  color: white;
}

.formControl {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.itemsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  @screen sm {
    justify-content: center;
  }
}